{% extends "base.html" %}

{% block content %}

<div class="row">
    {% if request.user.groups.first.name == 'manager' or request.user.groups.first.name == 'editor' or request.user.is_superuser %}

    <!-- load side bar -->
    {% include "sidebar.html" %}
    <div class="col-md-9">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h2 class="text-center">Add new user</h2>
        <div class="col-md-8 mx-auto">
            {% load crispy_forms_tags %}
            <form action="{% url  'add_user' %}" method="post">
                {% csrf_token %}
                {{form | crispy }}
                <button type="submit" class="btn btn-primary mt-2 mb-2 d-block mx-auto fw-bold">Add User</button>
            </form>

        </div>


    </div>


</div>

    {% if messages %}
        {% for message in messages %}
             <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% else %}
    <h3>You do not have permission to access this page.</h3>
{% endif %}

{% endblock %}