{% extends "base.html" %}

{% block content %}

<div class="row">
    {% if request.user.groups.first.name == 'manager' or request.user.groups.first.name == 'editor' or request.user.is_superuser %}

    {% include "sidebar.html" %}
    <div class="col-md-9">
            <div class="card card-body text-dark text-center fw-bold mb-3">
                Log in as a 
                {% if request.user.is_superuser %}
                    Super User
                {% elif request.user.groups.exists %}
                    {{ request.user.groups.first.name }}
                {% else %}
                    User
                {% endif %}
            </div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

        <h2 class="text-center">All Users</h2>
        <a href="{% url "add_user" %}" class="btn btn-warning float-end mb-2 fw-bold">
            Add Users
        </a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Staff Status</th>
                    <th scope="col">Active</th>
                    <th scope="col">Member Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for user in users %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{% if user.is_active %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                    <td>{% if user.is_staff %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            No Group
                        {% endfor %}
                    </td>
                                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editModal{{ user.id }}">
                            <i class="fa fa-edit fa-lg" style="color: #03045E;"></i>
                        </a>
                        &emsp;&ensp;
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ user.id }}">
                            <i class="fa fa-trash fa-lg" style="color:#800517;"></i>
                        </a>

                    </td>
                </tr>

                <!-- End Edit -->

                <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body">
                                    Are you sure you want to delete
                                    <strong>{{user.first_name}} {{user.last_name}}</strong>?
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancel
                                    </button>

                                    <form method="post" action="{% url 'delete_user' user.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Delete -->

                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModal{{ user.id }}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <form method="post" action="{% url 'edit_user' user.id %}">
                                    {% csrf_token %}

                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit User Information</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="userName{{ user.id }}" class="form-label">User Name:</label>
                                            <input type="text" name="user_name" id="userName{{ user.id }}"
                                                class="form-control" value="{{ user.username }}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="userEmail{{ user.id }}" class="form-label">Email Address:</label>
                                            <input type="text" name="user_email" id="userEmail{{ user.id }}"
                                                class="form-control" value="{{ user.email }}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="firstName{{ user.id }}" class="form-label">First Name:</label>
                                            <input type="text" name="first_name" id="firstName{{ user.id }}"
                                                class="form-control" value="{{ user.first_name }}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="lastName{{ user.id }}" class="form-label">Last Name:</label>
                                            <input type="text" name="last_name" id="lastName{{ user.id }}"
                                                class="form-control" value="{{ user.last_name }}" required>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- End Edit -->
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>





{% else %}
    <h3>You do not have permission to access this page.</h3>
{% endif %}



</div>




{% endblock %}